*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* min-width: 970px; */
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
}

.nav-button,
.nav-icon,
.toggle-sidebar-left,
.toggle-sidebar-right {
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover);
  }

  .nav-button:hover {
    color: var(--color-link);
  }
}

.svg-inline--fa {
  font-size: 1em;
}

.fa-2x {
  font-size: 1.25em;
}
.fa-3x {
  font-size: 2em;
}
.fa-4x {
  font-size: 3em;
}

@font-face {
  font-family: logoFont;
  src: url(../fonts/Knewave-Regular.ttf);
}


html {
  scrollbar-color: var(--color-bg-black-thin);
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* background-color: var(--color-link-hover); */
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-black-thin);
  border-radius: 5px;
}

.nav-button {
  padding: 0.25rem;
  /* background: var(--color-button-bg); */
  background: transparent;
  border: 1px solod var(--color-button-bg);
}

.nav-button:hover {
  background: var(--color-button-bg-hover);
}

.nav-button:active,
.nav-button.active {
  background: var(--color-button-bg-active);
  color: var(--color-link);
}