/* colors */
:root {
  --yuda-black: #363636;
  --yuda-white: #ececec;
  --yuda-gray: #c4c4c4;
}
  
/* semantic color variables for this project */
:root {
  --color-bg-black: var(--yuda-black);
  --color-bg-white: var(--yuda-white);
  --color-black: var(--yuda-black);
  --color-white: var(--yuda-white);
  --color-heading: var(--yuda-gray);
  --color-link: hsl(14, 100%, 37%);
  --color-link-hover: hsla(14, 100%, 37%, 0.2);
}